<html>

<head>
    <title>Desktop | AJ Nicoloff</title>
    <link rel="shortcut icon" type="image/ico" href="../media/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../resources/css/98.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/pure.css">
    <script src="../resources/js/creations.js"></script>
    <script src="../resources/js/interactions.js"></script>
    <script src="../resources/js/features.js"></script>
    <script src="../resources/js/media.js"></script>
    <script src="../resources/js/windows/resume.js"></script>
    <script src="../resources/js/windows/projects.js"></script>
    <script src="../resources/js/windows/api.js"></script>

</head>

<body>
    <div class="loginScreen" id="loginScreen">
        <div class="window" style="width: 300px" id="loginWindow">
            <div class="title-bar">
                <div class="title-bar-text">Enter Password</div>
            </div>
            <div class="window-body">
                <img class="loginPng" src="../media/login.png">
                <br>
                <br>
                <p style="margin-bottom: 3px;">Select user name</p>
                <div class="userSelect">
                    <div class="guestSelect" id="guestSelect" onclick="selectUser(this)">Guest</div>
                    <div class="guestSelect">&nbsp;</div>
                    <div class="guestSelect">&nbsp;</div>
                </div>
                <p style="margin-bottom: 3px;">Password</p>
                <input style="width: 100%;" type="password"></input>
                <br>
                <br>
                <button style="display: inline-block;" onclick="playMp3(0, 'startup.mp3'); logIn()">Okay</button>
                <button style="display: inline-block;" onclick="logIn(true)">Quick Login</button>


            </div>
        </div>
    </div>
    <div class="startbar">
        <img id="startbutton" src="../resources/icons/start.png"
            onclick="toggleIcon(this, 'start.png', 'startPressed.png', 1000)">
        <hr
            style="transform: rotate(90deg); width: 24px; display: block; height: 1px; float: left; margin-left: 50px; margin-top: 14px !important;">
        <div id="programList">

        </div>
        <div class="clock">
            <p id="clock">Loading</p>
        </div>
    </div>
    <div class="icon-spacer">
        <div class="pure-g">
            <div class="pure-u-1-24 desktopIconSlot">
                <img class="desktopIcon" src="../resources/icons/bin.png">
                <p class="desktopIconName">Recycle Bin</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-24 desktopIconSlot" ondblclick="resumeWindow(); refreshDrag('window')">
                <img class="desktopIcon" src="../resources/icons/document.png">
                <p class="desktopIconName">Resume.pdf</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-24 desktopIconSlot"
                ondblclick="window.open('https:\/\/www.linkedin.com/in/ajnicoloff/', '_blank')">
                <img class="desktopIcon" src="../resources/icons/url.png">
                <p class="desktopIconName">LinkedIn</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-24 desktopIconSlot"
                ondblclick="projectsWindow(); refreshDrag('window')">
                <img class="desktopIcon" src="../resources/icons/note.png">
                <p class="desktopIconName">Projects</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-24 desktopIconSlot"
                ondblclick="apiWindow(); refreshDrag('window')">
                <img class="desktopIcon" src="../resources/icons/world.png">
                <p class="desktopIconName">API</p>
            </div>
        </div>
    </div>
</body>


<script>
    document.onload = fetchUsrTime();
</script>

</html>