<html>

<head>
    <title>Desktop | AJ Nicoloff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../resources/css/98.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/pure.css">
    <script src="../resources/js/creations.js"></script>
    <script src="../resources/js/interactions.js"></script>
    <script src="../resources/js/media.js"></script>
</head>

<body>
    <div class="startbar">
            <img id="startbutton" src="../resources/icons/start.png">
    </div>
    <div class="clock">

    </div>
    </div>
</body>


<script>

</script>

</html>