/* Custom CSS - Huge thanks to 98.css's contributors for helping with most of the sites css!
*
* Feel free to use anything in this css file for your own site!
*
*
*/


/* Import Microsoft Sans Serif - Default windows 98 font :) */
@font-face {
    font-family: '98Serif';
    src: url('../fonts/micross.ttf') format('woff2'),
         url('../fonts/micross.ttf') format('woff'),
         url('../fonts/micross.ttf') format('truetype');
}
* {
    image-rendering: pixelated;
}
body {
    overflow-x: scroll;
    line-height: 1;
    min-height: 100%;
    position: relative;
    font-family: '98Serif';
  }
html {
    min-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #008080;
    font-family: '98Serif';
}
::-webkit-scrollbar {
    width: 0;
    display: none;
}
#startbutton {
    margin-top: 5px;
  position: fixed;
  border: 1px solid black;
}

.startbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    height: 28px;
    width: 100vw;
    background-color: #bdbebd;
    border-top: 2px solid white;
    padding: 5px;
    z-index: 10;
}

#clock {
    margin-top: 8.5px;
    margin-left: -0.5px; /* It does actually do something, just very small, but it bothered me hehe */
}
.clock {
    float: right !important;
    height: 25px;
    text-align: center;
    position:absolute;
    top: 0px;
    right:0px;
    padding: 4px;
    margin-right: 0.5%;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    font-size: 12px;
}
#selectChecker {
    border: 30px grey dashed;
    top: 0;
    left: 0;
    display: none;
}
.icon-spacer {
    padding: 15px;
    z-index: 0 !important;
}
.desktopIconSlot {
    padding-top: 5px; /* It felt too close to the icon /shrug */
    height: auto;
    width: auto;
    border: 1px dotted transparent; /* If i apply the border now, there is no weird icon shift on interaction :) */
}
@media screen and (min-width: 768px) {
    /* I only want the selector outline to show on desktop/tablet. it sizes oddly on mobile and */
    /* I literally do not want to deal with it */
    .desktopIconSlot:active {
        border: 1px dotted black;
    }
   }
.desktopIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.desktopIconName {
    text-align: center;
    padding: none;
    margin-top: 3px;
    width: auto;
}
#programList {
    display: flexbox;
    overflow-x:scroll;
    white-space:nowrap;
    margin: auto;
    height: auto;
    width: 60%;
    margin-left: 6%;
    max-width: 60% !important;
}
.programButton {
    display: inline-block;
    position: sticky;
    padding: 0.05%;
    width: auto;
    margin: auto;
    height: 75% !important;
    margin-right: 0.5%;
    margin-top: 0.5%;
    color: black;
    text-align:left!important;
    background-color: rgb(219, 217, 217);
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(128, 128, 128) rgb(255, 255, 255) rgb(255, 255, 255) rgb(128, 128, 128);
}
.programButton img {
    float: left; 
    margin-right: 2px;
    height: 18px;
    width: 18px;
}
.programButton p {
    margin-right: 10px;
    display: inline-block;
    margin-top: 4px;
    height: 5px;
}
.loginScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #008080;
    z-index: 15;
}
.loginPng {
    width: 100% !important;
    height: 60px !important;

}
.userSelect {
    background-color: white;
    width: 100%;
    height: 5%;
    margin: auto;
    box-sizing: content-box;
    padding: 3px 4px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    background-color: #fff;
    box-sizing: border-box;
}
#loginWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


